# Configuración de la Base de Datos - DESARROLLO
DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=2Comidas.
DB_DATABASE=coalicion_db
DB_PORT=5432

# Configuración del Servidor
PORT=4000
NODE_ENV=development

# URLs para CORS (en desarrollo)
FRONTEND_URL=http://localhost:3000

# === PARA PRODUCCIÓN ===
# DB_HOST=dpg-d423mabe5dus73bdeni0-a.oregon-postgres.render.com
# DB_USER=coalicion
# DB_PASSWORD=L5KF6hXC5TkY4Iu9mF2VEi9wrEleiBRo
# DB_DATABASE=coalicion_db
# DB_PORT=5432
# NODE_ENV=production
# FRONTEND_URL=https://coalicion-two.vercel.app